@font-face {
    font-family: 'cheltenhm_btroman';
    src: url('../fonts/cheltenhm_btroman/cheltenham-bt-webfont.woff2') format('woff2'),
         url('../fonts/cheltenhm_btroman/cheltenham-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
